@import url('https://fonts.googleapis.com/css?family=Raleway');

.App-header {
    background-color:orange;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;

  }
.header-text{
  font-size: 200%;
}
#wrapper2{
  display: flex;
}
